Repository simpledotorg/simple-server, pull requests merged in 2020-10, with the labels that each got.

#1362 Reports: Update "Cumulative registrations" cards
  app/assets/javascripts/common/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/views/reports/regions/_facility_tables.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1382 Reports: "Visit details..." updates
  app/assets/javascripts/common/reports.js
  app/assets/stylesheets/partials/_spacing.scss
  app/controllers/reports/regions_controller.rb
  app/views/reports/regions/_visit_details_card.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1386 Reports JS fix
  app/assets/javascripts/common/reports.js
Labels: reports

#1380 Strip Pundit usage from admin controllers
  Gemfile
  Gemfile.lock
  app/assets/javascripts/components/common/CollectionCheckBoxes.jsx
  app/assets/javascripts/components/common/CollectionRadioButtons.jsx
  app/assets/javascripts/components/common/ErrorMessages.jsx
  app/assets/javascripts/components/common/SelectField.jsx
  app/assets/javascripts/components/common/TextInputField.jsx
  app/assets/javascripts/components/invite_admin/AccessLevelComponent.jsx
  app/assets/javascripts/components/invite_admin/SelectResource.jsx
  app/assets/javascripts/components/invite_admin/SelectResourceModal.jsx
  app/assets/javascripts/components/invite_admin_form.jsx
  app/assets/javascripts/server_rendering.js
  app/controllers/admin/facilities_controller.rb
  app/controllers/admin/facility_groups_controller.rb
  app/controllers/admin/organizations_controller.rb
  app/controllers/admin/protocol_drugs_controller.rb
  app/controllers/admin/protocols_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/admins_controller.rb
  app/models/user_access.rb
  app/views/admin/facilities/edit.html.erb
  app/views/admin/facilities/index.html.erb
  app/views/admin/facilities/show.html.erb
  app/views/admin/facilities/upload.html.erb
  app/views/admin/facility_groups/edit.html.erb
  app/views/admin/facility_groups/show.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/protocol_drugs/index.html.erb
  app/views/admin/protocol_drugs/show.html.erb
  app/views/admin/protocols/index.html.erb
  app/views/admin/protocols/show.html.erb
  app/views/admin/users/_form.html.erb
  app/views/admin/users/index.html.erb
  app/views/admin/users/show.html.erb
  app/views/admins/_form.html.erb
  app/views/admins/edit.html.erb
  app/views/admins/index.html.erb
  app/views/admins/show.html.erb
  app/views/email_authentications/invitations/new.html.erb
  config/initializers/assets.rb
  spec/controllers/admin/facilities_controller_spec.rb
  spec/controllers/admin/facility_groups_controller_spec.rb
  spec/controllers/admin/organizations_controller_spec.rb
  spec/controllers/admin/protocol_drugs_controller_spec.rb
  spec/controllers/admin/protocols_controller_spec.rb
  spec/controllers/admin/users_controller_spec.rb
  spec/controllers/admins_controller_spec.rb
  spec/features/admin/facilities/index_spec.rb
  spec/features/admin/facilities/index_with_new_permissions_spec.rb
  spec/features/admin/organizations/index_spec.rb
  spec/features/admin/organizations/index_with_new_permissions_spec.rb
  spec/features/admin/protocols/index_spec.rb
  spec/features/admin/protocols/index_with_new_permissions_spec.rb
  spec/features/admin/protocols/show_spec.rb
  spec/features/admin/protocols/show_with_new_permissions_spec.rb
  spec/features/admin/users/index_spec.rb
  spec/features/admin/users_spec.rb
  spec/models/user_access_spec.rb
Labels: simple-permissions

#1369 Add ethiopia manifest entry
  public/manifest/production.json
Labels: do-not-merge

#1403 Reports: Add region total rows and copy/styling updates
  app/views/reports/regions/_facility_tables.html.erb
  app/views/reports/regions/_follow_ups_table.html.erb
  app/views/reports/regions/_new_registrations_table.html.erb
  app/views/reports/regions/_registrations_table.html.erb
  app/views/reports/regions/cohort.html.erb
Labels: reports

#1384 Reports: Chart and copy updates
  app/assets/javascripts/common/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/assets/stylesheets/partials/_spacing.scss
  app/models/reports/result.rb
  app/services/control_rate_service.rb
  app/services/reports/region_service.rb
  app/views/reports/regions/_downloads.html.erb
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/_visit_details_card.html.erb
  app/views/reports/regions/show.html.erb
  spec/controllers/reports/regions_controller_spec.rb
Labels: reports

#1407 Reports: Remove facility table subtitles
  app/views/reports/regions/_facility_tables.html.erb
Labels: reports

#1406 Reports: Print-friendly PDF
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/partials/_reports.scss
  app/assets/stylesheets/print.scss
  app/views/reports/regions/_downloads.html.erb
  app/views/reports/regions/_facility_tables.html.erb
  app/views/reports/regions/_follow_ups_table.html.erb
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/_new_registrations_table.html.erb
  app/views/reports/regions/_registrations_table.html.erb
  app/views/reports/regions/_visit_details_card.html.erb
  app/views/reports/regions/cohort.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1421 Reports: "Visit details..." bug
  app/views/reports/regions/_visit_details_card.html.erb
Labels: bug, reports

#1416 Reports: Value formatting
  app/assets/javascripts/common/reports.js
Labels: bug, reports

#1418 Final Permissions Cleanup
  app/models/user.rb
  app/models/user_permission.rb
  app/policies/permissions.rb
  db/data/20200611023823_remove_adherence_tab_permissions.rb
  db/data/20201008050453_migrate_permissions_to_accesses.rb
  db/migrate/20201012091028_drop_user_permissions.rb
  db/schema.rb
  doc/adding-new-user-permissions.md
  doc/arch/010-user-permissions.md
  lib/tasks/scripts/create_accesses_from_permissions.rb
  spec/factories/user_permissions.rb
  spec/lib/tasks/scripts/create_accesses_from_permissions_spec.rb
  spec/models/user_permission_spec.rb
  spec/models/user_spec.rb
Labels: do-not-merge, simple-permissions

#1441 Edit Admin spacing fix
  app/assets/stylesheets/partials/admin/_access_tree.scss
Labels: bug

#1440 Reports: Facility Tables copy fix
  app/views/reports/regions/_facility_tables.html.erb
Labels: bug, reports

#1458 My Facilities: Secondary nav improvements
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/user_analytics.scss
  app/views/layouts/my_facilities.html.erb
Labels: my-facilities

#1469 BUG: Remove Reports early access banner
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/index.html.erb
Labels: bug, reports

#1470 BUG: Fix Dashboard icon styling
  app/assets/stylesheets/application.scss
  app/views/shared/_nav_bar.html.erb
Labels: bug

#1426 Reports: Activity Tables + Current Month
  app/controllers/api_controller.rb
  app/controllers/reports/regions_controller.rb
  app/helpers/reports/regions_helper.rb
  app/models/facility_district.rb
  app/models/facility_group.rb
  app/models/patient.rb
  app/presenters/user_analytics_presenter.rb
  app/queries/district_analytics_query.rb
  app/queries/facility_analytics_query.rb
  app/services/activity_service.rb
  app/services/reports/region_service.rb
  app/views/reports/regions/_follow_ups_table.html.erb
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/_registrations_table.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/show.html.erb
  app/views/shared/_recent_bp_log.html.erb
  spec/models/patient_spec.rb
  spec/presenters/user_analytics_presenter_spec.rb
  spec/queries/district_analytics_query_spec.rb
  spec/queries/facility_analytics_query_spec.rb
  spec/services/activity_service_spec.rb
Labels: reports

#1479 My Facilities "Overview" copy and style fixes
  app/views/shared/my_facilities/_facilities_by_size.html.erb
  app/views/shared/my_facilities/_inactive_facilities.html.erb
Labels: bug

#1474 Fix Simple logo right margin
  app/helpers/simple_server_env_helper.rb
  spec/helpers/simple_server_env_helper_spec.rb
Labels: bug

#1476 Facilities Admin copy and style fixes
  app/views/admin/facilities/index.html.erb
  spec/pages/admin/facilities/show.rb
Labels: bug

#1462 My Facilities: Mobile-friendly filters
  app/assets/stylesheets/partials/_reports.scss
  app/controllers/concerns/my_facilities_filtering.rb
  app/controllers/concerns/period_selection.rb
  app/views/layouts/my_facilities.html.erb
  app/views/my_facilities/blood_pressure_control.html.erb
  app/views/my_facilities/missed_visits.html.erb
  app/views/my_facilities/ranked_facilities/show.html.erb
  app/views/my_facilities/registrations.html.erb
  app/views/shared/_size_and_zone_filters.html.erb
Labels: my-facilities

#1478 Overdue copy and style fixes
  app/assets/stylesheets/application.scss
  app/queries/patient_summary_query.rb
  app/views/appointments/index.html.erb
  app/views/layouts/overdue.html.erb
Labels: bug

#1483 My Facilities: Update update card titles
  app/views/my_facilities/index.html.erb
Labels: bug

#1484 Overdue: Subtitle fix
  app/views/layouts/overdue.html.erb
Labels: bug

#1485 Persist params for missed visits section
  app/views/layouts/my_facilities.html.erb
Labels: bug, my-facilities
