Repository simpledotorg/simple-server, pull requests merged in 2020-08, with the labels that each got.

#1170 Assigned facility: My facilities
  app/controllers/my_facilities_controller.rb
  app/models/facility.rb
  app/queries/my_facilities/blood_pressure_control_query.rb
  app/queries/my_facilities/missed_visits_query.rb
  app/queries/my_facilities/overview_query.rb
  app/queries/my_facilities/registrations_query.rb
  app/services/region_report_service.rb
  app/views/my_facilities/blood_pressure_control.html.erb
  app/views/my_facilities/missed_visits.html.erb
  spec/models/facility_spec.rb
  spec/queries/my_facilities/blood_pressure_control_query_spec.rb
  spec/queries/my_facilities/missed_visits_query_spec.rb
Labels: assigned-facilities

#1209 Bug/styling fixes
  app/assets/javascripts/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1200 Assigned facility: Cohort charts
  app/controllers/analytics_controller.rb
  app/models/facility.rb
  app/models/organization_district.rb
  app/queries/cohort_analytics_query.rb
  app/queries/my_facilities/blood_pressure_control_query.rb
  app/queries/my_facilities/missed_visits_query.rb
  app/views/shared/_cohort_charts.html.erb
  spec/controllers/analytics/districts_controller_spec.rb
  spec/controllers/analytics/facilities_controller_spec.rb
  spec/exporters/patients_exporter_spec.rb
  spec/exporters/patients_with_history_exporter_spec.rb
  spec/models/facility_spec.rb
  spec/models/organization_district_spec.rb
  spec/queries/cohort_analytics_query_spec.rb
Labels: assigned-facilities

#1207 Assigned facility: Patient line list
  app/exporters/patients_exporter.rb
  app/exporters/patients_with_history_exporter.rb
  app/jobs/patient_list_download_job.rb
  app/models/facility.rb
  app/models/organization_district.rb
  spec/exporters/patients_exporter_spec.rb
  spec/exporters/patients_with_history_exporter_spec.rb
  spec/jobs/patient_list_download_job_spec.rb
  spec/models/facility_spec.rb
  spec/models/organization_district_spec.rb
Labels: assigned-facilities

#1219 No BP Measure queries / charts
  Gemfile
  Gemfile.lock
  app/assets/javascripts/reports.js
  app/controllers/reports/regions_controller.rb
  app/models/period.rb
  app/services/control_rate_service.rb
  app/services/no_bp_measure_service.rb
  app/services/region_report_service.rb
  app/services/visited_but_no_bp_service.rb
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/show.html.erb
  spec/models/period_spec.rb
  spec/services/control_rate_service_spec.rb
  spec/services/no_bp_measure_service_spec.rb
  spec/services/region_report_service_spec.rb
  spec/services/visited_but_no_bp_service_spec.rb
Labels: reports

#1098 Telemed reporting
  lib/tasks/reports.rake
  lib/tasks/scripts/telemedicine_reports.rb
  spec/fixtures/files/telemed_report_input.csv
  spec/lib/tasks/scripts/telemedicine_reports_spec.rb
Labels: low priority

#1202 Assigned facility: Analytics dashboard
  app/assets/stylesheets/partials/_dashboard.scss
  app/models/facility.rb
  app/models/organization_district.rb
  app/queries/district_analytics_query.rb
  app/queries/facility_analytics_query.rb
  app/views/analytics/districts/show.html.erb
  app/views/analytics/facilities/show.html.erb
  app/views/shared/_analytics_table.html.erb
  spec/controllers/analytics/districts_controller_spec.rb
  spec/controllers/analytics/facilities_controller_spec.rb
  spec/queries/district_analytics_query_spec.rb
  spec/queries/facility_analytics_query_spec.rb
Labels: assigned-facilities

#1211 Assigned facility: Cohort report downloads
  app/views/analytics/districts/show.csv.erb
  app/views/analytics/facilities/show.csv.erb
  spec/controllers/analytics/facilities_controller_spec.rb
Labels: assigned-facilities

#1214 Assigned facility: Overdue list
  app/controllers/appointments_controller.rb
  db/migrate/20200810095935_update_patient_summaries_to_version_4.rb
  db/schema.rb
  db/views/patient_summaries_v04.sql
  spec/controllers/appointments_controller_spec.rb
Labels: assigned-facilities

#1220 Reports: Styling updates
  app/assets/javascripts/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/views/reports/regions/cohort.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/index.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1218 Bug: Reports header active tab
  app/views/reports/regions/_header.html.erb
Labels: reports

#1228 Reports: Copy updates
  app/assets/javascripts/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/controllers/reports/regions_controller.rb
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/details.html.erb
  app/views/reports/regions/index.html.erb
  app/views/reports/regions/show.html.erb
Labels: reports

#1233 "Early Access" banner update
  app/views/reports/regions/_header.html.erb
  app/views/reports/regions/index.html.erb
Labels: reports

#1185 Access scoping + auth
  app/models/access.rb
  app/models/user.rb
  db/migrate/20200728074416_add_accesses_to_users.rb
  db/migrate/20200811135315_add_access_level_to_user.rb
  db/schema.rb
  spec/factories/accesses.rb
  spec/factories/users.rb
  spec/models/access_spec.rb
  spec/models/user_spec.rb
Labels: simple-permissions

#1237 Reports: Tooltip improvements
  app/assets/javascripts/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/views/reports/regions/cohort.html.erb
  app/views/reports/regions/details.html.erb
Labels: reports

#1224 Reports: Nav menu and banners
  app/controllers/admin_controller.rb
  app/views/analytics/districts/show.html.erb
  app/views/analytics/facilities/show.html.erb
  app/views/layouts/application.html.erb
  app/views/organizations/index.html.erb
  app/views/shared/_old_reports_banner.html.erb
  spec/features/appointments/index_spec.rb
  spec/features/organizations/index_spec.rb
  spec/pages/navigations/dashboard_page_navigation.rb
Labels: reports

#1246 Update banner email
  app/views/shared/_old_reports_banner.html.erb
Labels: reports

#1221 High-level JS and CSS asset clean-up
  app/assets/javascripts/application.js
  app/assets/javascripts/bs-file-input-init.js
  app/assets/javascripts/cable.js
  app/assets/javascripts/common/analytics.js
  app/assets/javascripts/common/reports.js
  app/assets/javascripts/common/teleconsultation-fields.js
  app/assets/javascripts/components.js
  app/assets/javascripts/server_rendering.js
  app/assets/javascripts/standalone/help.js
  app/assets/javascripts/standalone/react_components.js
  app/assets/javascripts/standalone/user_analytics.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/legacy/user_analytics.scss
  app/assets/stylesheets/partials/_variables.scss
  app/views/admins/_form.html.erb
  app/views/api/v3/analytics/user_analytics/show.html.erb
  app/views/api/v3/help/show.html.erb
  app/views/email_authentications/invitations/new.html.erb
  app/views/layouts/application.html.erb
  config/initializers/assets.rb
  config/locales/api/help/en.html
  config/locales/api/help/upcoming/en.html
Labels: low priority, stale-pr

#1100 Queue SMS fallback job if WhatsApp message fails
  app/controllers/api/v3/twilio_sms_delivery_controller.rb
  app/jobs/appointment_notification/missed_visit_job.rb
  app/models/communication.rb
  app/models/organization.rb
  app/services/appointment_notification_service.rb
  lib/tasks/appointment_notification.rake
  spec/controllers/api/v3/twilio_sms_delivery_controller_spec.rb
  spec/factories/communications.rb
  spec/jobs/appointment_notification/missed_visit_job_spec.rb
  spec/models/communication_spec.rb
  spec/models/organization_spec.rb
  spec/services/appointment_notification_service_spec.rb
Labels: 3rd-party bottleneck, stale-pr

#1239 Add teleconsultation phone number to User
  app/controllers/admin/users_controller.rb
  app/models/user.rb
  app/schema/api/v4/models.rb
  app/transformers/api/v4/user_transformer.rb
  app/views/admin/users/_form.html.erb
  db/migrate/20200821072154_add_teleconsultation_phone_number_to_users.rb
  db/schema.rb
  spec/controllers/admin/users_controller_spec.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/transformers/api/v4/user_transformer_spec.rb
  swagger/v4/swagger.json
Labels: telemed-mvp

#1222 Invite Admin Flow (UI for new Access system)
  app/assets/javascripts/invite_admin.js
  app/assets/javascripts/polyfill.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/partials/_invite_admin.scss
  app/controllers/email_authentications/invitations_controller.rb
  app/helpers/admin_access_helper.rb
  app/models/user.rb
  app/models/user_access.rb
  app/presenters/admin_access_presenter.rb
  app/views/admins/index.html.erb
  app/views/email_authentications/invitations/_access_tree.html.erb
  app/views/email_authentications/invitations/new.html.erb
  spec/models/user_access_spec.rb
Labels: simple-permissions

#1189 Facility details beneath each District
  app/assets/javascripts/common/reports.js
  app/assets/stylesheets/partials/_reports.scss
  app/controllers/reports/regions_controller.rb
  app/services/no_bp_measure_service.rb
  app/views/reports/regions/show.html.erb
Labels: reports
